.intro
  .heading jbenn
  .subheading software engineer
  .subheading passionate about edtech

- contact_stripe = capture_haml do
  .stripe
    .icon-wrapper
      %a{href: "https://github.com/JasonBenn"}
        .fa.fa-github
      %a{href: "mailto:jasoncbenn@gmail.com"}
        .fa.fa-envelope-o
      %a{href: "http://www.linkedin.com/pub/jason-benn/33/168/bb8"}
        .fa.fa-linkedin
      %a{href: "/resume.pdf"}
        .fa.fa-file-text-o

= contact_stripe

.projects

  .project
    .container
      .image-wrapper
        %img.image{src: 'https://andersbjornsbo.files.wordpress.com/2012/02/cloud-success.png'}
      .description-wrapper
        .heading Clinkle Careers
        .content A webapp through which applicants can apply to Clinkle. Backend is in Rails, the webapp is in Backbone.js, and jobs data is cached using localStorage. Building this taught me a lot about tuning JS/CSS animation performance with Chrome DevTools and the importance of loose coupling between views.

  .project
    .container
      .image-wrapper
        %img.image{src: 'https://andersbjornsbo.files.wordpress.com/2012/02/cloud-success.png'}
      .description-wrapper
        .heading Clinkle Homepage
        .content Built and launched new home marketing page, new investor page, new team page, the CDN-backed blog, and the top 3/4ths of the Careers page in a 10-day sprint in response to the Apple Pay announcement, as people mistakenly thought Clinkle was competitor instead of a complementary product.

  .project
    .container
      .image-wrapper
        %img.image{src: 'https://andersbjornsbo.files.wordpress.com/2012/02/cloud-success.png'}
      .description-wrapper
        .heading Penny
        .content An AI financial advisor and budgeting helper proof-of-concept, built during a Clinkle hackathon. Uses a novel text-only interface, inspired by apps like Luka. Built with Scott Takahashi, Mitch Lee, and Joe Burke.

  .project
    .container
      .image-wrapper
        %img.image{src: 'https://andersbjornsbo.files.wordpress.com/2012/02/cloud-success.png'}
      .description-wrapper
        .heading Support Page
        .content A VOIP call center, support team dashboard, and engineering tools suite. Backend in Rails, webapp in Backbone.js, and some views in React.js. Architecture is based around the Event Aggregator pattern and as a result many changes and feature requests were trivial to implement.

  .project
    .container
      .image-wrapper
        %img.image{src: 'https://andersbjornsbo.files.wordpress.com/2012/02/cloud-success.png'}
      .description-wrapper
        .heading Hinge+
        .content Client spoof of the Hinge app with extra features. Reverse engineered Hinge's undocumented API with a self-inflicted Man-In-The-Middle attack using Charles Proxy. Implemented in Ember.js and Rails.

  .project
    .container
      .image-wrapper
        %img.image{src: 'https://andersbjornsbo.files.wordpress.com/2012/02/cloud-success.png'}
      .description-wrapper
        .heading Raise Your Hand
        .content Splice together segments of YouTube videos into an educational playlist of content. Of the four-man team that built this in a week, I was responsible for backend and performance. Optimized one search query from 30s to 100ms with action and fragment caching using memcached, counter caching, eager loading, SELECT DISTINCT, database indices, and keypress throttling.

  .project
    .container
      .image-wrapper
        %img.image{src: 'https://andersbjornsbo.files.wordpress.com/2012/02/cloud-success.png'}
      .description-wrapper
        .heading Console Injector
        .content A Chrome extension that adds a pane to Chrome DevTools. This tool helps users explore the innards of any website by allowing them to easily inject any JS library into the DOM.

  .project
    .container
      .image-wrapper
        %img.image{src: 'https://andersbjornsbo.files.wordpress.com/2012/02/cloud-success.png'}
      .description-wrapper
        .heading Clinkle Emails
        .content A Ruby compilation pipeline that enables trivially easy HTML email creation and editing. Automates CSS inlining, uploading to Mandrill, tier-specific testing, sharing of styles, and editing in SASS and HAML.

= contact_stripe

-# %svg{:height => "0", :width => "0"}
-# %defs
-#   %clipPath#svgTextPath
-#     %text{"font-family" => "Helvetica", "font-size" => "200px", "font-weight" => "700", "text-anchor" => 'middle', textLength: "500px", x: "700", y: "300"} jbenn
