@import 'variables';
@import 'parallax';
@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  font-size: $text3;
  color: $light-text;
  background-color: $light-bg;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.intro {
  height: 800px;
  max-height: 60vh;

  @media (max-width: $small-screen) {
    max-height: 100vh;
  }

  @include flex-center;
  flex-direction: column;

  .heading {
    color: $dark-text;
    font-size: $heading0;
    font-family: $font-intro;
  }

  .subheading {
    font-family: $font-body;
  }
}

.stripe {
  height: 6em;
  background-color: $dark-bg;

  .icon-wrapper {
    height: 100%;
    width: 20em;
    margin: 0 auto;
    max-width: 80%;
    @include flex-center;
    justify-content: space-around;
  }

  .fa {
    font-size: $heading4;
  }
}

.projects {
  .project {
    height: 500px;
    max-height: 100%;

    .container {
      @include flex-center;
      height: 100%;
    }

    // every even child
    &:nth-child(2n) {
      background-color: $medium-bg;
      .container {
        flex-direction: row-reverse;
      }
    }

    .description-wrapper {
      flex: 1 0 0;
      padding: 2em;

      .heading {
        font-size: $heading5;
        color: $dark-text;
        padding-bottom: 1em;
        font-family: $font-heading;
      }

      .content {
        font-size: $text2;
        font-family: $font-body;
      }
    }

    .image-wrapper {
      flex: 1 0 0;
      width: 100%;
      height: 100%;
      @include flex-center;
      padding: 1.5em;
      position: relative;
      overflow: hidden;
    }

    .image {
      background-color: $dark-bg;
      width: 90%;
      height: auto;
      border-radius: 5px;
    }

    // every child
    &:nth-child(n) {
      @media (max-width: $medium-screen) {
        .container {
          flex-direction: column;
        }
      }

      > * {
        flex: 1 0 0;
      }
    }
  }
}
