$perspective: 1;

html {
  height: 100%;
  overflow: hidden;
}

body { 
  perspective: $perspective + px;
  height: 100%; 
  overflow-y: scroll;
  overflow-x: hidden;
}

@mixin parallax-child($distance: 0) {
  transform: translateZ($distance * $perspective + px) scale(abs((($distance * $perspective)) / $perspective) + 1);
}

.cloud {
  &:nth-of-type(1) { @include parallax-child(-.8); }
  &:nth-of-type(2) { @include parallax-child(-.6); }
  &:nth-of-type(3) { @include parallax-child(-.4); }
  &:nth-of-type(4) { @include parallax-child(-.2); }
}

.intro .headings {
  @include parallax-child(-.5);
}
