// Common rules
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Colors
$light-text: rgb(150,150,150);
$dark-text: rgb(30, 30, 30);

$light-bg: rgb(250,250,250);
$medium-bg: rgb(230,230,230);
$dark-bg: rgb(210,210,210);

// Responsive breakpoints
$large-screen: 1040px; // captures tablets.
$medium-screen: 730px; // arbitrary halfway point. Smaller than iPads, larger than phones.
$small-screen: 420px; // captures the largest phones, iPhone 6 and 6+.
